#banner {
  background-size: cover;
  background-position: center top;
  position: relative;
}

#banner > #shader {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#banner > #content {
  position: relative;
  z-index: 10;
}

#content > #shader {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border: 1px solid gray;
  position: absolute;
  inset: -4rem;
  z-index: -1;
}
